@font-face {
  font-family: 'hyperlegible';
  src: url('../fonts/hyperlegible/HyperlegibleSans-Bold.woff2') format('woff2'),
       url('../fonts/hyperlegible/HyperlegibleSans-Bold.woff') format('woff');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'hyperlegible';
  src: url('../fonts/hyperlegible/HyperlegibleSans-BoldItalic.woff2') format('woff2'),
       url('../fonts/hyperlegible/HyperlegibleSans-BoldItalic.woff') format('woff');
  font-weight: 700;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: 'hyperlegible';
  src: url('../fonts/hyperlegible/HyperlegibleSans-Italic.woff2') format('woff2'),
       url('../fonts/hyperlegible/HyperlegibleSans-Italic.woff') format('woff');
  font-weight: 400;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: 'hyperlegible';
  src: url('../fonts/hyperlegible/HyperlegibleSans-Medium.woff2') format('woff2'),
       url('../fonts/hyperlegible/HyperlegibleSans-Medium.woff') format('woff');
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'hyperlegible';
  src: url('../fonts/hyperlegible/HyperlegibleSans-MediumItalic.woff2') format('woff2'),
       url('../fonts/hyperlegible/HyperlegibleSans-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: 'hyperlegible';
  src: url('../fonts/hyperlegible/HyperlegibleSans-Regular.woff2') format('woff2'),
       url('../fonts/hyperlegible/HyperlegibleSans-Regular.woff') format('woff');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
